<a href="https://colab.research.google.com/github/Isha1600/Python_Basics_Practice/blob/main/Day14_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
students = [
    {"name": "Isha", "marks": 90},
    {"name": "Tina", "marks": 85}
]

total = 0
for s in students:
    total += s["marks"]

print(total / len(students))

87.5

In [2]:
students = [
    {"name": "Isha", "marks": 90},
    {"name": "Tina", "marks": 85}
]

def calculate_average(student_list):
    total = 0
    for student in student_list:
        total += student["marks"]
    return total / len(student_list)

average = calculate_average(students)
print("Average marks:", average)

Average marks: 87.5

In [3]:
def calculate_average(student_list):
    total = 0
    for student in student_list:
        total += student["marks"]
    return total / len(student_list)


def find_top_student(student_list):
    highest = 0
    top_name = ""
    for student in student_list:
        if student["marks"] > highest:
            highest = student["marks"]
            top_name = student["name"]
    return top_name


students = [
    {"name": "Isha", "marks": 90},
    {"name": "Tina", "marks": 85},
    {"name": "Riya", "marks": 95}
]

print("Average:", calculate_average(students))
print("Top student:", find_top_student(students))

Average: 90.0
Top student: Riya

In [8]:
students = []

def add_student(name, marks):
    student = {"name": name, "marks": marks}
    students.append(student)

def show_students():
    for student in students:
        print(student["name"], student["marks"])

def find_top_student():
    highest = 0
    top_name = ""
    for student in students:
        if student["marks"] > highest:
            highest = student["marks"]
            top_name = student["name"]
    return top_name

def remove_student(name):
    global students # Declare students as global to modify it
    initial_len = len(students)
    students = [student for student in students if student["name"] != name]
    if len(students) < initial_len:
        print(f"Student {name} removed successfully.")
    else:
        print(f"Student {name} not found.")


# Using the system
add_student("Isha", 90)
add_student("Tina", 85)
add_student("Riya", 95)

print("Students before removal:")
show_students()
print("Top student before removal:", find_top_student())

print("\n--- Removing Tina ---")
remove_student("Tina")

print("\nStudents after removal:")
show_students()
print("Top student after removal:", find_top_student())

print("\n--- Trying to remove a non-existent student ---")
remove_student("John")

Students before removal:
Isha 90
Tina 85
Riya 95
Top student before removal: Riya

--- Removing Tina ---
Student Tina removed successfully.

Students after removal:
Isha 90
Riya 95
Top student after removal: Riya

--- Trying to remove a non-existent student ---
Student John not found.

In [5]:
def count_students(student_list):
    return len(student_list)

students = [
    {"name": "Isha", "marks": 90},
    {"name": "Tina", "marks": 85},
    {"name": "Riya", "marks": 95}
]

print("Number of students:", count_students(students))

Number of students: 3

In [6]:
def students_above_80(student_list):
    above_80_students = []
    for student in student_list:
        if student["marks"] > 80:
            above_80_students.append(student["name"])
    return above_80_students

students = [
    {"name": "Isha", "marks": 90},
    {"name": "Tina", "marks": 85},
    {"name": "Riya", "marks": 78},
    {"name": "Sam", "marks": 92}
]

print("Students scoring above 80:", students_above_80(students))

Students scoring above 80: ['Isha', 'Tina', 'Sam']

In [7]:
def lowest_marks(student_list):
    if not student_list:
        return None  # Handle empty list case
    lowest = student_list[0]["marks"]
    for student in student_list:
        if student["marks"] < lowest:
            lowest = student["marks"]
    return lowest

students = [
    {"name": "Isha", "marks": 90},
    {"name": "Tina", "marks": 85},
    {"name": "Riya", "marks": 78},
    {"name": "Sam", "marks": 92}
]

print("Lowest marks:", lowest_marks(students))

Lowest marks: 78