<a href="https://colab.research.google.com/github/Isha1600/Python_Basics_Practice/blob/main/Day11_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [10, 20, 30, 40]

print(numbers[0])  # 10
print(numbers[1])  # 20
print(numbers[2])  # 30
print(numbers[3])  # 40

10
20
30
40

In [ ]:
numbers = [10, 20, 30, 40]

for num in numbers:
    print(num)

10
20
30
40

In [ ]:
numbers = [1, 2, 3]
numbers.append(4)

print(numbers)
numbers.remove(2)
print(numbers)
print(len(numbers))

[1, 2, 3, 4]
[1, 3, 4]
3

In [ ]:
numbers = [10, 20, 30]

total = 0

for num in numbers:
    total = total + num

print(total)

60

In [ ]:
numbers = [5, 12, 3, 20, 8]

largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num

print(largest)

20

In [ ]:
names = ["Isha", "Tina", "Riya"]

for name in names:
    print("Hello", name)

Hello Isha
Hello Tina
Hello Riya

In [ ]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(sum(numbers))

15

In [ ]:
numbers = [1, 2, 3, 4, 5]
smallest_number = min(numbers)
print(smallest_number)

1

In [ ]:
names = ["Alice", "Bob", "Anna", "Charlie", "Amy"]

print("Names starting with 'A':")
for name in names:
    if name[0] == "A":
        print(name)

Names starting with 'A':
Alice
Anna
Amy

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = 0

for num in numbers:
    if num % 2 == 0:
        even_count += 1

print(f"There are {even_count} even numbers in the list.")

There are 5 even numbers in the list.