<a href="https://colab.research.google.com/github/Isha1600/Python_Basics_Practice/blob/main/Day12_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
marks = [80, 75, 90]

In [2]:
student = {
    "Isha": 90,
    "Tina": 85,
    "Riya": 88
}

In [3]:
print(student["Isha"])

90

In [4]:
student["Aman"] = 92

In [5]:
del student["Tina"]

In [6]:
for name in student:
    print(name)

Isha
Riya
Aman

In [7]:
for name, marks in student.items():
    print(name, marks)

Isha 90
Riya 88
Aman 92

In [8]:
student = {
    "Isha": 90,
    "Tina": 85,
    "Riya": 88
}

highest = 0
top_student = ""

for name, marks in student.items():
    if marks > highest:
        highest = marks
        top_student = name

print("Top student:", top_student)

Top student: Isha

In [9]:
students = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Eve": 88
}
print("Student dictionary created.")

Student dictionary created.

In [10]:
print("Student Names:")
for name in students:
    print(name)

Student Names:
Alice
Bob
Charlie
David
Eve

In [12]:
print("Student Marks:")
for marks in students.values():
    print(marks)

Student Marks:
85
92
78
95
88

In [13]:
total_marks = sum(students.values())
num_students = len(students)

if num_students > 0:
    average_marks = total_marks / num_students
    print(f"Average Marks: {average_marks:.2f}")
else:
    print("No students in the dictionary to calculate average marks.")

Average Marks: 87.60

In [14]:
lowest_mark = float('inf') # Initialize with a very high value
lowest_student = ""

for name, marks in students.items():
    if marks < lowest_mark:
        lowest_mark = marks
        lowest_student = name

print(f"Student with the lowest marks: {lowest_student} ({lowest_mark})")

Student with the lowest marks: Charlie (78)

In [15]:
students_above_80 = 0

for marks in students.values():
    if marks > 80:
        students_above_80 += 1

print(f"Number of students who scored above 80: {students_above_80}")

Number of students who scored above 80: 4