<a href="https://colab.research.google.com/github/Isha1600/Python_Basics_Practice/blob/main/Day13_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
numbers = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [2]:
print(numbers[0][1])  # 2

2

In [11]:
for row in numbers:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9

In [12]:
students = {
    "Isha": {
        "age": 21,
        "marks": 90
    },
    "Tina": {
        "age": 22,
        "marks": 85
    },
    "Riya": {
        "age": 20,
        "marks": 88
    }
}
print(students["Tina"]["marks"])

85

In [7]:
students = [
    {"name": "Isha", "age": 21, "marks": 90},
    {"name": "Tina", "age": 22, "marks": 85},
    {"name": "Riya", "age": 20, "marks": 88}
]
for student in students:
    print(student["name"], student["marks"])

Isha 90
Tina 85
Riya 88

In [8]:
total = 0

for student in students:
    total += student["marks"]

average = total / len(students)
print("Average:", average)

Average: 87.66666666666667

In [9]:
highest = 0
top_student = ""

for student in students:
    if student["marks"] > highest:
        highest = student["marks"]
        top_student = student["name"]

print("Top student:", top_student)

Top student: Isha

In [13]:
products = [
    {"name": "Laptop", "price": 1200, "quantity": 5},
    {"name": "Mouse", "price": 25, "quantity": 20},
    {"name": "Keyboard", "price": 75, "quantity": 10},
    {"name": "Monitor", "price": 300, "quantity": 3}
]

In [14]:
total_inventory_value = 0
for product in products:
    total_inventory_value += (product["price"] * product["quantity"])

print(f"Total Inventory Value: ${total_inventory_value}")

Total Inventory Value: $8150

In [15]:
most_expensive_product = None
highest_price = 0

for product in products:
    if product["price"] > highest_price:
        highest_price = product["price"]
        most_expensive_product = product

print(f"The most expensive product is: {most_expensive_product['name']} with a price of ${most_expensive_product['price']}")

The most expensive product is: Laptop with a price of $1200

In [17]:
print("Students with marks greater than 85:")
for student_name, student_data in students.items():
    if student_data["marks"] > 85:
        print(student_name)

Students with marks greater than 85:
Isha
Riya