<a href="https://colab.research.google.com/github/Isha1600/Python_Basics_Practice/blob/main/Day2_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
print(fruits[0])   # first item access
print(fruits[2])   # third item access

apple
cherry

In [ ]:
fruits.append("mango")  #add new item
print(fruits)

['apple', 'banana', 'cherry', 'mango']

In [ ]:
colors = ["red", "blue", "pink", "yellow", "orange", "green"]
print(colors)

['red', 'blue', 'pink', 'yellow', 'orange', 'green']

In [ ]:
print(colors[1])
print(colors[5])

blue
green

In [ ]:
colors.append("white")
print(colors)

['red', 'blue', 'pink', 'yellow', 'orange', 'green', 'white']

In [ ]:
for i in range(5):
  print("Isha is learning python!")

Isha is learning python!
Isha is learning python!
Isha is learning python!
Isha is learning python!
Isha is learning python!

In [ ]:
fruits = ["apple", "banana", "cherry", "mango"] # Redefine fruits list
for fruit in fruits:
  print("I like", fruit)

I like apple
I like banana
I like cherry
I like mango

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
colors = ["red", "blue", "pink", "yellow", "orange", "green"]
for color in colors:
  print(color)

red
blue
pink
yellow
orange
green

In [ ]:
for i in range(1, 20):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18

In [16]:
numbers = [1, 2, 4, 6, 8, 9, 7, 11, 15, 19]
total_sum = sum(numbers)
print(numbers)
print("The sum of all numbers in the list is", total_sum)

[1, 2, 4, 6, 8, 9, 7, 11, 15, 19]
The sum of all numbers in the list is 82

In [17]:
animals = ["dog", "cat", "cow", "lion", "tiger"]
for i in range(0, 3):
  print(animals[i])

dog
cat
cow

In [18]:
for i in range(1, 50):
  if i % 5 == 0:
    print(i)

5
10
15
20
25
30
35
40
45

In [19]:
numbers = [2, 5, 7, 10, 15]

for number in numbers:
  if number % 2 == 0:
    print(number)

2
10

In [20]:
for i in range(1, 11):
  print(f"7 x {i} = {7 * i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [22]:
My_Name = "Isha Gupta"
print(My_Name.upper())
print(My_Name[0:4])

ISHA GUPTA
Isha

In [24]:
My_Name = "Isha Gupta"  # Assign the name to a variable
count = 0  # Initialize a counter for letters
for letter in My_Name:  # Iterate through each character in the name
  if letter != " ":  # Check if the character is not a space
    count += 1  # If it's not a space, increment the counter
print("The number of letters without spaces is:", count) # Print the final count

The number of letters without spaces is: 9

In [25]:
My_Name = "Isha Gupta"
for letter in My_Name:
  print(letter)

I
s
h
a

G
u
p
t
a

In [2]:
numbers = [1,2,3,4,5,6,7]
for n in numbers:
  if n % 2 != 0:
    print(n)

1
3
5
7

In [5]:
n = 15
if n % 5 == 0:
  print(True)
else:
  print(False)

True

In [6]:
names = ["Ishika", "Payal", "Tanya"]
for name in names:
  print(name)

Ishika
Payal
Tanya

In [2]:
print(10 == 10)

True

In [1]:
for i in range(1,21):
  if i % 2 != 0:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [3]:
print(5>2 and 8>3)

True

In [7]:
fruits = ["mango", "banana", "cherry", "orange"]
if "apple" in fruits:
  print("Yes, 'apple' is in the fruits list.")
else:
  print("No, 'apple' is not in the fruits list.")

No, 'apple' is not in the fruits list.

In [8]:
fruits = ["mango", "banana", "cherry", "apple"]
if "apple" in fruits:
  print("Yes, 'apple' is in the fruits list.")
else:
  print("No, 'apple' is not in the fruits list.")

Yes, 'apple' is in the fruits list.

In [9]:
for i in range(1, 11):    # loop from 1 to 10
    print("5 x", i, "=", 5 * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [10]:
for i in range(1,11):
  print("9 x", i, "=", 9*i)

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [11]:
for i in range(1,21):
  print("12 x", i, "=", 12*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144
12 x 13 = 156
12 x 14 = 168
12 x 15 = 180
12 x 16 = 192
12 x 17 = 204
12 x 18 = 216
12 x 19 = 228
12 x 20 = 240