<a href="https://colab.research.google.com/github/Isha1600/Python_Basics_Practice/blob/main/Day5_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def print_table(num):
    # prints multiplication table of `num` from 1 to 10
    for i in range(1, 11):
        print(f"{num} x {i} = {num * i}")

# Use the function for 7 and 9
print_table(7)
print()   # blank line
print_table(9)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90