<a href="https://colab.research.google.com/github/Isha1600/Python_Basics_Practice/blob/main/Day5_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
def greet():
    print("Hello Isha!")
greet()

Hello Isha!

In [6]:
def greet(name):
    print("Hello", name, "welcome to Python!")

greet("Isha")

Hello Isha welcome to Python!

In [8]:
def repeat_message():
    for i in range(5):
        print("I love coding!")
repeat_message()

I love coding!
I love coding!
I love coding!
I love coding!
I love coding!

In [9]:
def print_name(name):
    for i in range(3):
        print("Hello", name)
print_name("Isha")

Hello Isha
Hello Isha
Hello Isha

In [10]:
def calculator(a, b, operation):
    if operation == "add":
        print("Sum =", a + b)
    elif operation == "subtract":
        print("Difference =", a - b)
    elif operation == "multiply":
        print("Product =", a * b)
    elif operation == "divide":
        print("Quotient =", a / b)
    else:
        print("Invalid operation")
calculator(10, 5, "add")
calculator(10, 5, "multiply")

Sum = 15
Product = 50

In [11]:
for i in range(1, 4):     # outer loop (for numbers 1–3)
    print("Table of", i)
    for j in range(1, 6): # inner loop (for 1–5)
        print(i, "x", j, "=", i * j)
    print("------------")

Table of 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
------------
Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
------------
Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
------------

In [12]:
def print_grid(rows, cols):
    for r in range(rows):            # outer loop — each row
        for c in range(cols):        # inner loop — each column in a row
            print("*", end=" ")      # print star and stay on same line
        print()                      # after inner loop, move to next line

print_grid(3, 4)

* * * *
* * * *
* * * *

In [14]:
def multiplication_table(n):
    # prints a multiplication table up to n x n
    for i in range(1, n + 1):
        for j in range(1, n + 1):
            print(i * j, end='\t')   # print in same line separated by a tab
        print()  # new line after each row

# Test the function with n=5
multiplication_table(5)

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [17]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b == 0:
        return "Error: division by zero"
    return a / b

def calculator():
    while True:
        print("\nOptions: add / sub / mul / div / quit")
        choice = input("Choose operation: ").strip().lower()
        if choice == "quit":
            print("Goodbye!")
            break
        if choice not in ("add","sub","mul","div"):
            print("Please choose a valid option.")
            continue
        # get numbers
        try:
            x = float(input("Enter first number: "))
            y = float(input("Enter second number: "))
        except:
            print("Please enter valid numbers.")
            continue
        if choice == "add":
            print("Result:", add(x,y))
        elif choice == "sub":
            print("Result:", subtract(x,y))
        elif choice == "mul":
            print("Result:", multiply(x,y))
        elif choice == "div":
            print("Result:", divide(x,y))

# Run the calculator (uncomment to run)
calculator()

Options: add / sub / mul / div / quit
Choose operation: add
Enter first number: 23
Enter second number: 45
Result: 68.0

Options: add / sub / mul / div / quit
Choose operation: quit
Goodbye!

In [18]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b == 0:
        return "Error: division by zero"
    return a / b

def power(a, b):
    return a ** b

def calculator():
    while True:
        print("\nOptions: add / sub / mul / div / power / quit")
        choice = input("Choose operation: ").strip().lower()
        if choice == "quit":
            print("Goodbye!")
            break
        if choice not in ("add","sub","mul","div","power"):
            print("Please choose a valid option.")
            continue
        # get numbers
        try:
            x = float(input("Enter first number: "))
            y = float(input("Enter second number: "))
        except ValueError:
            print("Please enter valid numbers.")
            continue
        for _ in range(3): # Repeat the operation 3 times
            if choice == "add":
                print("Result:", add(x,y))
            elif choice == "sub":
                print("Result:", subtract(x,y))
            elif choice == "mul":
                print("Result:", multiply(x,y))
            elif choice == "div":
                print("Result:", divide(x,y))
            elif choice == "power":
                print("Result:", power(x,y))

# Run the calculator (uncomment to run)
calculator()

Options: add / sub / mul / div / power / quit
Choose operation: power
Enter first number: 4
Enter second number: 3
Result: 64.0
Result: 64.0
Result: 64.0

Options: add / sub / mul / div / power / quit
Choose operation: quit
Goodbye!

In [2]:
def say_hello():
    print("Hello Isha!")
say_hello()

Hello Isha!

In [3]:
def greet(name):
    print("Hello", name, "!")
greet("Isha")
greet("Tina")

Hello Isha !
Hello Tina !

In [4]:
def add(a, b):
    return a + b
result = add(5, 3)
print(result)

8

In [5]:
def count_numbers():
    for i in range(1, 6):
        print(i)
count_numbers()

1
2
3
4
5

In [6]:
def table(n):
    for i in range(1, 11):
        print(f"{n} x {i} = {n*i}")
table(7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [8]:
def calculator(a, b, operation):
    if operation == "add":
        return a + b
    elif operation == "subtract":
        return a - b
    elif operation == "multiply":
        return a * b
    elif operation == "divide":
        return a / b
    else:
        return "Invalid operation"
print(calculator(10, 5, "add"))
print(calculator(10, 5, "multiply"))
print(calculator(10, 5, "divide"))

15
50
2.0

In [1]:
def print_table(num):
    # prints multiplication table of `num` from 1 to 10
    for i in range(1, 11):
        print(f"{num} x {i} = {num * i}")

# Use the function for 7 and 9
print_table(7)
print()   # blank line
print_table(9)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [11]:

def say_bye():
  print("GoodBye Isha, see you soon!")
say_bye()

GoodBye Isha, see you soon!

In [12]:
def square_numbers():
    for i in range(1, 6):
        print(i ** 2)
square_numbers()

1
4
9
16
25

In [14]:
def even_numbers(n):
  for i in range(2, n + 1, 2):
    print(i)

# Example usage:
even_numbers(10)

2
4
6
8
10

In [17]:
def sum_list(numbers):
  for i in range(len(numbers)):
    numbers[i] += 1
  return sum(numbers)
sum_list([1,2,3,4,5])

20

In [15]:
def sum_list(numbers):
  total = 0
  for number in numbers:
    total += number
  print("The sum of the numbers is:", total)

# Example usage:
my_list = [1, 2, 3, 4, 5]
sum_list(my_list)

The sum of the numbers is: 15

In [18]:
def table_all():
  for i in range(2, 6):
    for j in range(1, 11):
      print(f"{i} x {j} = {i * j}")
    print()
table_all()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [19]:
def check_positive(num):
  if num > 0:
    print("Positive")
  elif num == 0:
    print("Zero")
  else:
    print("Negative")

# Example usage:
check_positive(10)
check_positive(-5)
check_positive(0)

Positive
Negative
Zero

In [21]:
def function_name():
    # work to do
    pass # Added pass to make the function body syntactically correct

function_name()

In [22]:
def greet():
    print("Hello Isha!")
    print("Welcome to Python Functions!")
greet()

Hello Isha!
Welcome to Python Functions!

In [23]:
def say_hello_5_times():
    for i in range(5):
        print("Hello Isha!")
say_hello_5_times()

Hello Isha!
Hello Isha!
Hello Isha!
Hello Isha!
Hello Isha!

In [25]:
def print_table(number):
    for i in range(1, 11):
        print(f"{number} x {i} = {number * i}")
print_table(8)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [26]:
def mini_calculator(a, b, operation):
    if operation == "add":
        print("Sum =", a + b)
    elif operation == "subtract":
        print("Difference =", a - b)
    elif operation == "multiply":
        print("Product =", a * b)
    elif operation == "divide":
        print("Division =", a / b)
    else:
        print("Invalid operation")
mini_calculator(8, 4, "add")
mini_calculator(8, 4, "multiply")

Sum = 12
Product = 32

In [1]:
def multiplication_table_matrix(rows, cols):
    # prints a grid where each cell = row * col
    for r in range(1, rows + 1):
        for c in range(1, cols + 1):
            print(r * c, end='\t')   # print in same line separated by a tab
        print()  # new line after each row

multiplication_table_matrix(5, 5)

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [2]:
def filter_greater_than_five(numbers):
    result = []
    for n in numbers:
        if n > 5:
            result.append(n)
    return result

sample = [1,4,6,8,2,15,3]
print(filter_greater_than_five(sample))  # prints [6, 8, 15]

[6, 8, 15]

In [3]:
def batch_calculator(pairs, operation):
    results = []
    for a, b in pairs:
        if operation == "add":
            results.append(a + b)
        elif operation == "subtract":
            results.append(a - b)
        elif operation == "multiply":
            results.append(a * b)
        elif operation == "divide":
            results.append(a / b)
        else:
            results.append(None)
    return results

pairs = [(2,3), (10,5), (7,8)]
print(batch_calculator(pairs, "add"))       # [5, 15, 15]
print(batch_calculator(pairs, "multiply"))  # [6, 50, 56]

[5, 15, 15]
[6, 50, 56]