<a href="https://colab.research.google.com/github/Isha1600/Python_Basics_Practice/blob/main/Day6_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
i = 1

while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [2]:
for row in range(1, 3):
    for seat in range(1, 4):
        print("Row", row, "Seat", seat)

Row 1 Seat 1
Row 1 Seat 2
Row 1 Seat 3
Row 2 Seat 1
Row 2 Seat 2
Row 2 Seat 3

In [3]:
secret = 7
guess = 0

while guess != secret:
    guess = int(input("Guess a number between 1 and 10: "))
    if guess == secret:
        print("Correct! ðŸŽ‰")
    else:
        print("Try again!")

Guess a number between 1 and 10: 2
Try again!
Guess a number between 1 and 10: 7
Correct! ðŸŽ‰

In [5]:
num = 10
while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

In [7]:
for i in range(1, 5):
    for j in range(1, i + 1):
        print(j, end='')
    print()

1
12
123
1234