<a href="https://colab.research.google.com/github/Isha1600/Python_Basics_Practice/blob/main/Day7_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers = [10, 20, 30]

print(numbers[0])  # 10
print(numbers[1])  # 20
print(numbers[2])  # 30

10
20
30

In [2]:
numbers = [2, 4, 6, 8]

for n in numbers:
    print(n)

2
4
6
8

In [3]:
def print_even(numbers):
    for n in numbers:
        if n % 2 == 0:
            print(n)

nums = [1,2,3,4,5,6,7,8]
print_even(nums)

2
4
6
8

In [5]:
nums = [1,2,3]
nums.append(4)
print(nums)
nums.remove(2)
print(nums)

[1, 2, 3, 4]
[1, 3, 4]

In [6]:
def analyze_marks(marks):
    total = 0
    for m in marks:
        total += m

    average = total / len(marks)
    print("Total:", total)
    print("Average:", average)

student_marks = [80, 75, 90, 85]
analyze_marks(student_marks)

Total: 330
Average: 82.5