<a href="https://colab.research.google.com/github/Isha1600/Python_Basics_Practice/blob/main/Day9_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Isha")

Hello Isha

In [ ]:
name = "Isha"
print(name)

Isha

In [ ]:
name = "Isha"
age = "25"
height = "5.2"
is_student = True
print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [ ]:
a = 10
b = 5

print(a + b)   # 15
print(a - b)   # 5
print(a * b)   # 50
print(a / b)   # 2.0

15
5
50
2.0

In [ ]:
name = input("Enter your name: ")
print("Hello", name)
age = int(input("Enter age: "))

Enter your name: shivani
Hello shivani
Enter age: 26

In [ ]:
age = 18

if age >= 18:
    print("You can vote")
else:
    print("You cannot vote")

You can vote

In [ ]:
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
your_name = "Isha"
your_age = "25"
your_city = "Delhi"

print(f"Hello, my name is {your_name}, I am {your_age} years old, and I live in {your_city}.")

Hello, my name is Isha, I am 25 years old, and I live in Delhi.

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

sum_of_numbers = num1 + num2
print("The sum of the two numbers is:", sum_of_numbers)

Enter the first number: 20
Enter the second number: 35
The sum of the two numbers is: 55

In [ ]:
age = int(input("Please enter your age: "))

if age >= 18:
    print("Adult")
else:
    print("Minor")

Please enter your age: 24
Adult

In [ ]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10